body {
  padding: 20px;
  font-family: "Century", serif;
  animation: fadein 1s;
}

.logo {
  text-align: center;
  text-decoration:none;
  color:black;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  margin-top: 2%;
}

h1,h2 {
  font-family: "Lucida Bright", serif;
}

p {
	font-size: 1.2em;
	color: black;
	text-align: left;
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: center;
}

header h1.logo {
  font-size: 1.2em;
  float: left;
}

.show{
  margin: 40px 40px;
  color:black;
}

.title{
  text-align: center;
}

.show:hover {
  animation: pulse 1s; 
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 110%
}

#li_home:hover, #li_about:hover, #li_research:hover{
  animation: rubberBand 1s;
}

#li_home:hover{
  color: red;
}

.brick {
  border: 1.1px solid;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color:rgb(222, 222, 222);
  box-shadow:5px 5px 13px 3px rgb(222, 222, 222) inset;  
  border-radius: 25px;
  margin-bottom: 30px;
}

/* animation */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

