body {
  font-family: "Comic Sans MS", sans-serif;
  background-image: url('/static/img/simple.png');
  animation: fadein 2s;
  color: black;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}


#contact {
  color: blue;
}

#proverb p {
  margin-top: 20px;
  font-size: 1.2em;
  color: black;
  text-align: right;
  font-family: "Bradley Hand ITC"

}

p {
	font-size: 1.4em;
	color: black;
	text-align: left;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

header {
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  color: black;
  text-align: left;
}

header h1.logo {
  height: 10px;
  margin-top: 48px;
  margin-bottom: 0px;
  color: black;
  font-size: 3.0em;
  /*font-family: "Curlz MT";*/
  font-family: "Jokerman";
  

}

h1{
	color: black;
}

h2 {
	color: black;
	font-size: 1.6em;
  margin-top: 48px;

}

.container {
  width: 1200px;
  margin: 0 auto;
}

div.home {
  padding: 10px 0 30px 0;
/*  background-color: #ebe6c6;*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.about {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.menu {
  float: right;
  margin-bottom: 55px;
}

#li_about,#li_home,#li_game,#li_gallery,#li_music{
  font-family: "Comic Sans MS";
  font-size: 1.3em;
  display: inline;
}

/*#selectable li:hover {background: orange; color: white; }*/

#li_home:hover {background-color: #91e9fc;}
#li_about:hover {background-color: #fcc2c4;}
#li_gallery:hover {background-color: #ccc2fd;}
#li_music:hover {background-color: #dfe90c;}
#li_game:hover {background-color: #edfec4;}

.menu li + li {
  margin-left: 25px;
}

.menu li a {
  color: black;
  font-family: "Comic Sans MS";
}

li {

	font-size: 1.3em;
  margin-top: 20px;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

/*------------------animation*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.contentframe {
  position:relative;
  margin: 10px;
}

.musicP{
  text-align: center;
  font-size: 2.0em;
  letter-spacing: 1px;
  color: black;
  margin-top: 48px;
  margin-bottom: 0px;
}