{% extends "layout.html" %}
{% block content %}
<div class="about">

	<style type="text/css">#contact{margin-top: -20px;text-align: left; color:black; background-color: white;}</style>
	<style type="text/css">h2{background-color:#26282e;color: white;}</style>
	
	<h2>{ About Me }</h2>
	<p> Computer Science Professional: Solid data analysis background with strong programming, analytic and mathematical skills. 
		Years of projects experience in application development and embedded software development. 
		Expertise in computer graphics, image processing and geographic information system. 
		Interest in data science, machine learning, deep learning and AI.</p>
	
	<h2>{ Skills }</h2>  
	<ul class="resume">
		<li><strong>Programming Languages:</strong> Python, R, C/C++, C#, Java, SQL, LaTex.</li>
		<li><strong>Web Development:</strong> HTML, CSS, JavaScript, TypeScript, Angular, React, Node.js, Flask, PHP.</li>
		<li><strong>Applications:</strong> Git, PyCharm, Eclipse, Visual Studio, VS Code, VMWare, MATLAB, ArcGIS, Keil C51.</li>
		<li><strong>Operating Systems:</strong> Unix, Linux, Mac OS X, Windows.</li>
	</ul>

	<h2>{ Education }</h2>  
	<ul>
		<li><strong>Master of Science</strong> in <i>Computer Science</i></li>  
		<ul>
			<li><a href="https://www.uregina.ca/">University of Regina</a></li> 
			<li>Jan. 2017 ~ May. 2019</li> 			
		</ul>
		<li><strong>Bachelor of Engineering</strong> in <i>Telecommunication Engineering</i></li> 
		<ul>
			<li><a href="https://www.guet.edu.cn/">Guilin University of Electronic Technology</a></li>
			<li>Sep. 2012 ~ June. 2016</li>
		</ul>
	</ul>

	<h2>{ Hobbies }</h2>
	<ul>
		<li><strong>Music: </strong>Piano & Guitar.</li>
		<li><strong>Cooking: </strong>Japanese Cuisine, Chinese Cuisine, Italian Cuisine.</a></li>
		<li><strong>Sports: </strong>Basketball, Tennis, Ping-Pong.</li>
	</ul>

	<h2>{ Contact }</Contact></h2>
	<ul>
		<li><strong>Name: </strong>Chao Zhang</li>
		<li><strong>Email: </strong><a href = "mailto: raidenchao@gmail.com">raidenchao@gmail.com </a></li>
		<li><strong>Cell: </strong>306-596-7887</li>
		<li><strong>Github: </strong><a href="https://github.com/zzzchaozzz">https://github.com/zzzchaozzz</a></li>
	</ul>

	<!-- <h2>Professional Experience</h2> <strong></strong>
	<ul>
		<li><strong>Web Development:</strong> Develop the website including webpages design with HTML, CSS, JavaScript, web framework construction by python(flask), website deploy based on cloud platforms and website maintaining by Git.</li>

		<li><strong>Computer Graphics:</strong> Write source code for ray tracing and volume rendering algorithm without library; Develop a computer graphics application including volume rendering and image processing with an user-friendly interface.</li>

		<li><strong>Image Processing:</strong> Develop an image processing application including smooth, sharpen, shadow, noise remove, filter, counter detection and FFT without library; Manipulate images based on pixels by mathematical algorithms.</li>

		<li><strong>GIS & Geoprocessing:</strong> Create a city of Vancouver model by ArcGIS Desktop; Develop a navigation system by python based on ArcGIS to provide the shortest route navigation including precise distances and street names.</li>

		<li><strong>Cryptography and Data Security:</strong> Build both symmetric and asymmetric encryption-decryption systems; Develop a steganography software by self-created algorithm to hide data into the image perfectly.</li>

		<li><strong>Data Analysis and Visualization:</strong> Data manipulation with pandas; Data visualization with matplotlib & seaborn; Big data sets analysis in detail. Research in rough sets and information retrieval.</li>

	</ul>

	<h2>Other Experience</h2>
	<ul>
		<li><i><strong>Co-op - Embedded Software Engineer</strong></i></li>  
		<ul>
			<li><a href="http://www.shangqian.com.cn/">Shanghai ShangQian Information Technology Ltd</a> </li> 
			<li>Jan 2015 ~ Jan 2016</a> </li> 
			<li>System Development - Develop a communication system based on Linux network.</li>
			<li>Game Development - Develop real-time interactive video games based on ARM development boards.</li>
			<li>Application Development - Develop multi-functional media applications based on ARM development boards.</li>
		</ul>
	</ul> -->

 
</div>
{% endblock %}
