{% extends "layout.html" %}
{% block content %}
<div class="about">

<hr>

<div class="">

	<script>document.querySelector(".logo").innerHTML="< About Me >"</script>
	<div class="brick text-center aboutme" > 
		<h1>{ Timeline }</h1>
		<p class="text-center">	
		10: Learned first programming language - Logo --> 12: Learned C/C++ --> 14: NOIP --> 18: University --> <br>
		22: Obtained B.Eng in EE --> 25: Obtained M.Sc in CS --> ? M.Sc in Math/Data Science/Teaching ? Phd in CS
		</p>
	</div>
	
	<div class="brick text-center aboutme" > 
		<h1>{ Teaching Methodology: < Student Oriented > }</h1>
		<p class="text-center">	
		{Stage 1} Students --> <strong style="color: red;">Interest</strong>  --> Basic Knowledge --> Advanced Skills [virtuous circle: movivation] <br>
        {Stage 2} Advanced Skills --> Real Projects --> Deployment (Repositories + Stores) [virtuous circle: abilities]
		</p>
	</div>

	<div class="brick text-center aboutme">
		<h1>{ Education Background }</h1> 
		<p style="text-align: center"><strong>M.Sc</strong> in <i>Computer Science</i> - Jan. 2017 ~ May. 2019 - <a href="https://www.uregina.ca/"> University of Regina</a> <br>
		<strong>B.Eng</strong> in <i>Telecommunication Engineering</i> 
			- Sep. 2012 ~ June. 2016 -<a href="https://www.guet.edu.cn/"> Guilin University of Electronic Technology</a></p>
	</div> 
</div>

<footer>
	<hr>
	<p style="font-size: 1.0em; text-align:center;">©2019 Chao Zhang</p>
	<div style="text-align:center;color: black;" >
		<a href="https://github.com/zzzchaozzz"><i class="fa fa-github" style="font-size:26px; color: black;"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href='mailto: raidenchao@gmail.com'><i class="fa fa-envelope" style="font-size:26px; color: black;"></i></a>		
	</div>	
</footer>


</div>
{% endblock %}
