{% extends "layout.html" %}
{% block content %}
<div class="about">

	<style type="text/css">#contact{margin-top: -20px;text-align: left; color:black; background-color: white;}</style>
	<!-- <style type="text/css">h2{background-color:#26282e;color: white;}</style>  -->
	
	<h2>{ About Me }</h2>

	<p>Minimalist.</p>
	<p>Love programming & the world.</p>
	<p>Big fan of Python. Entities should not be multiplied unnecessarily.</p>
	<p>Experience in software development and web development.</p>
	<p>Interest in computer graphics, image processsing and steganography.</p>
	<p>Recent projects mainly in vue.js and react web development.</p>
	
	<h2>{ Contact }</Contact></h2>

	<p><strong>Name: </strong>Chao Zhang</p>
	<p><strong>Email: </strong><a href = "mailto: raidenchao@gmail.com">raidenchao@gmail.com </a></p>
	<p><strong>Github: </strong><a href="https://github.com/zzzchaozzz">https://github.com/zzzchaozzz</a></p>



</div>
{% endblock %}
