{% extends "layout.html" %}
{% block content %}
<div class="coursePython2">
<hr>

    <div class="brick">
        <h1 class="title">{ Advanced Programming in Python } </h1>
        <h1>[ Duration ]</h1> <br>
        <p class="section0">(2.5 months - 10 courses - 1 course / week) or (2 weeks - 10 courses - 5 courses / week [summer/winter camp])</p>
        <br>

        <h1>[ Task ]</h1> <br>
        <p class="section0">Learn advanced programming skills by Python. 
            Basic programming experience required.
            Build 5 real projects to show off.
            Imrpove your skills in programming.
            Improve your Python skills to a higher level.
         </p>
        <br>

        <h1>[ Syllabus ]</h1> <br>
        <ol class="section1">

            <li>Data Structure - (2 courses)
                <ul>
                    <li>Hash Tables</li>
                    <li>Linked Lists</li>
                    <li>Stacks</li>
                    <li>Queues</li>
                    <li>Trees</li>
                    <li>Graphs</li>
                </ul>
            </li>
            <br>
            
            <li>Algorithm - (2 courses)
                <ul>
                    <li>Recursion</li>
                    <li>Sorting</li>
                        <ul>
                            <li>Bubble Sort</li>
                            <li>Selection Sort</li>
                            <li>Insertion Sort</li>
                            <li>Merge Sort</li>
                            <li>Quick Sort</li>
                            <li>Other Sort</li>
                        </ul>
                    <li>Searching</li>
                        <ul>
                            <li>BFS</li>
                            <li>DFS</li>
                        </ul>
                </ul>
            </li>
            <br>

            <li>Examination - Test your advanced skills (1 course)</li> <br>

            <li>Project ① - Build an Dictionary (1 course)</li> <br>

            <li>Project ② - Build an Website Blocker (1 course)</li> <br>
    
            <li>Project ③ - Image processing with Python (1 course)</li> <br>

            <li>Project ④ - Build a Web-based Financial Graph (1 course)</li> <br>

            <li>Project ⑤ - Game Development (1 course)</li> <br>
        
    </div>



</div>
{% endblock %}
