{% extends "layout.html" %}
{% block content %}
<div class="courseCS">

    <div class="brick">
        <h1 class="title">{ Topcis in Computer Science } </h1>
        <h1>[ Duration ]</h1> <br>
        <p class="section0">(2.5 months - 10 courses - 1 course / week) or (2 weeks - 10 courses - 5 courses / week [summer/winter camp])</p>
        <br>

        <h1>[ Task ]</h1> <br>
        <p class="section0"> Mid-level programming skills required. Improve your technologies and increase your knowledge of computer science.
            Learn specific topics deeply in computer science including image processing, computer graphics and AI.
         </p>
        <br>

        <h1>[ Syllabus ]</h1> <br>
        <ol class="section1">

            <li>Image Processing - (3 courses) 
                <ul>
                    <li>Pixels</li>
                    <li>Filters</li>
					<li>RGB</li>
					<li>Histogram Equalization</li>
                </ul>
            </li>
            <br>
 
            <li>Computer Graphics - (4 courses) 
                <ul>
                    <li>3D Construction</li>
                    <li>Perspectives</li>
                    <li>Ray Tracing</li>
                    <li>Volume Rendering</li>
                </ul>
            </li>
            <br>

            <li>Artificial Intelligent - (3 courses)
                <ul>
					<li>Introduction to AI</li>
					<li>Machine Learning</li>
					<li>Deep Learning</li>
                </ul>
            </li>
			<br>		
    </div>



</div>
{% endblock %}
