{% extends "layout.html" %}
{% block content %}
<div class="courseWeb">
<hr>

    <div class="brick">
        <h1 class="title">{ Introduction to Web Development } </h1>
        <h1>[ Duration ]</h1> <br>
        <p class="section0">(2.5 months - 10 courses - 1 course / week) or (2 weeks - 10 courses - 5 courses / week [summer/winter camp])</p>
        <br>

        <h1>[ Task ]</h1> <br>
        <p class="section0"> Learn the secret of Internet and basic front-end web development skills including HTML, CSS, Javascript.
				Build your own website from scratch. Show your personal website to your friends, classmates and family.
         </p>
        <br>

        <h1>[ Syllabus ]</h1> <br>
        <ol class="section1">

            <li>What is the Internet ? - (1 course)
                <ul>
					<li>How the Internet works</li>
					<li>WWW vs Internet</li>
					<li>HTML, CSS, Javascript</li>
                </ul>
            </li>
            <br>
            
            <li>HTML - (1 course)
                <ul>
					<li>Developer tools set up</li>
					<li>Build our first website</li>
					<li>W3C School</li>
                </ul>
            </li>
			<br>
			
			<li>Advanced HTML - (1 course)
				<ul>
					<li>HTML Forms</li>
					<li>Website Copy</li>
				</ul>
			</li>
			<br>

			<li>CSS - (1 course)
				<ul>
					<li>CSS Properties</li>
					<li>CSS Selectors</li>
					<li>Text, Font, Color, Backgroud</li>
					<li>Images</li>
					<li>Box</li>
				</ul>
			</li>
			<br>

			<li>Advanced CSS - (1 course)
				<ul>
					<li>Flexbox</li>
					<li>Reponsive UI</li>
					<li>Exercise</li>
				</ul>
			</li>
			<br>

			<li>Bootstrap 4 - (1 course)
				<ul>
					<li>Grid</li>
					<li>Templates</li>
				</ul>
			</li>
			<br>
				
			<li>Javascript - (1 course)
				<ul>
					<li>Varibles</li>
					<li>Array</li>
					<li>Object</li>
					<li>Loop</li>
					<li>Function</li>
				</ul>
			</li>
			<br>
					
			<li>Command Line - (1 course)
				<ul>
					<li>Terminal</li>
					<li>Bash</li>
				</ul>
			</li>
			<br>					

			<li>Github - (1 course)
				<ul>
					<li>Version Control</li>
					<li>Github</li>
					<li>Open source projects</li>
				</ul>
			</li>
			<br>	

			<li>Deployment - (1 course)
			<ul>
				<li>Cloud Services</li>
				<li>Own your personal website</li>
				<li>Your website matainence</li>
			</ul>
			</li>
			<br>	
    </div>


</div>
{% endblock %}
