{% extends "layout.html" %}
{% block content %}
<div class="coursePython1">

    <div class="brick">
        <h1 class="title">{ Introduction to Programming in Python } </h1>
        <h1>[ Duration ]</h1>
        <p class="section0">(2.5 months - 10 courses - 1 course / week) or (2 weeks - 10 courses - 5 courses / week [summer/winter camp])</p>
        <br>

        <h1>[ Task ]</h1>
        <p class="section0">Learn basic programming skills by Python. 
            No programming experience required.
            Build 3 real interesting projects.
            Gain your interest in programming.
            Learn how to think.
         </p>
        <br>

        <h1>[ Syllabus ]</h1> <br>
        <ol class="section1">

            <li>Why Python ? - (1 course)
                <ul>
                    <li>Introduction to Python & Programming</li>
                    <li >Setup</li>
                    <li>Our first program</li>
                </ul>
            </li>
            <br>
            
            <li>Python Foudmental 1 - (2 courses)
                <ul>
                    <li>Variables</li>
                    <li>Data types</li>
                    <li>String</li>
                    <li>Lists</li>
                    <li>Dictionary</li>
                    <li>Set</li>
                </ul>
            </li>
            <br>

            <li>Project ① : Game - Guessing # (1 course) </li> <br>

            <li>Python Foudmental 2 - (2 courses)
                <ul>
                    <li>Control Flow</li>
                    <li>Loops</li>
                    <li>Functions</li>
                    <li>Classes</li>
                    <li>Object Oriented Programming</li>
                </ul>
            </li>
            <br>

            <li>Project ② : App - Calculator (1 course) </li> <br>

            <li>Examination - Test your programming skills (1 course)</li> <br>

            <li>Project ③ : Game - Snack (2 course) </li> <br>
        
    </div>



</div>
{% endblock %}
