{% extends "layout.html" %}
{% block content %}
<div class="gallery">

<link rel="stylesheet" href="{{url_for('static',filename='css/gallery.css')}}">
  <div class="gallery-image">

  <div class="img-box">
      <img src="/static/img/3.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Lake Louise (Winter)</p>
          <p class="opacity-low">Banff, AB</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
    <img src="/static/img/kajia.JPG" alt="" />
    <div class="transparent-box">
      <div class="caption">
        <p>City Night</p>
        <p class="opacity-low">Downtown, Calgary, AB</p>
      </div>
    </div>
  </div>

  <div class="img-box">
    <img src="/static/img/cloud.jpg" alt="" />
    <div class="transparent-box">
      <div class="caption">
        <p>Cloud</p>
        <p class="opacity-low">Parliament Ave, Regina, SK</p>
      </div>
    </div>
  </div>

  <div class="img-box">
      <img src="/static/img/2.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Lake Louise (Summer)</p>
          <p class="opacity-low">Banff, AB</p>
        </div>
      </div> 
  </div>
    
  <div class="img-box">
      <img src="/static/img/5.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Rocky Mountains</p>
          <p class="opacity-low">No.1 Highway, AB & BC</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/9.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Stanley Park</p>
          <p class="opacity-low">Vancouver, BC</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/rb.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Double Rainbow</p>
          <p class="opacity-low">Saskatchewan Dr, Regina, SK</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/4.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Stanley Park</p>
          <p class="opacity-low">Vancouver, BC</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/7.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Sunset</p>
          <p class="opacity-low">Parliament Ave, Regina, SK</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/6.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Fairmont Banff Springs</p>
          <p class="opacity-low">Banff, AB</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/qq.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>QQ</p>
          <p class="opacity-low">Chao is my best friend !</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/hotpot.JPG" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Liu Yi Shou Hot Pot</p>
          <p class="opacity-low">Chinatown, Edmonton, AB</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/8.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Sunset</p>
          <p class="opacity-low">No.1 Highway, BC</p>
        </div>
      </div> 
  </div>
  
  <div class="img-box">
      <img src="/static/img/hl.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Havilland Park</p>
          <p class="opacity-low">Harbour Landing, Regina, SK</p>
        </div>
      </div> 
  </div>

  <div class="img-box">
      <img src="/static/img/guilin.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>GUET</p>
          <p class="opacity-low">Guilin, China</p>
        </div>
      </div> 
  </div>    

</div>

{% endblock %}