{% extends "layout.html" %}
{% block content %}
<div class="game">

	<script>document.querySelector(".logo").innerHTML="< Game >"</script>

	<!-- <h1 class="text-center">{ C# Unity }</h1>  

	<div class="text-center">

		<a href="">
			<figure class="figure brick show">
				<h1 class="title">Fox Tale</h1>
				<img src="https://media.giphy.com/media/eIUfbfGpF6FyjVj7J4/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt=”animated”>
				<figcaption class="figure-caption">
						<ul class="list text-left">
                            <br>
							<li>Unity Version 2019.3.0f5</li>
						</ul>
				</figcaption>
			</figure>
        </a>
        

    </div> -->

    <!-- <hr> -->

    <!-- <h1 class="text-center">{ CodeMao & Scratch }</h1>   -->

    <h1 class="text-center">{ Self-created Games }</h1>  

    <div class="text-center">

        <a href="https://shequ.codemao.cn/work/39573588">
            <figure class="figure brick show">
                <h1 class="title">AR Fruit Ninja</h1>
                <img src="https://media.giphy.com/media/XdOrYLkB18YbmfAEa7/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Built with AR Engine.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

        

        <a href="https://shequ.codemao.cn/work/39573606">
            <figure class="figure brick show">
                <h1 class="title">Galaxy Defender</h1>
                <img src="https://media.giphy.com/media/jSEFkGjYnuYc2hNfnd/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Plane shooting game with cloud data for global ranking.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>


        <a href="https://shequ.codemao.cn/work/38969359">
            <figure class="figure brick show">
                <h1 class="title">Tokyo Drift</h1>
                <img src="https://media.giphy.com/media/Uu5haIEQHOUjf9QIYx/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Car racing game with different props.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>


        <a href="https://shequ.codemao.cn/work/39429214">
            <figure class="figure brick show">
                <h1 class="title">Square Dash</h1>
                <img src="https://media.giphy.com/media/W0c6V824Q5XLHVFkrr/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Creative dash game with different props.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

        <a href="https://shequ.codemao.cn/work/38185525">
            <figure class="figure brick show">
                <h1 class="title">Assasin Running</h1>
                <img src="https://media.giphy.com/media/YPKazjQpeFnevzU6vZ/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Dodgy game with different levels.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

        <a href="https://shequ.codemao.cn/work/39573573">
            <figure class="figure brick show">
                <h1 class="title">Bouncing Ball</h1>
                <img src="https://media.giphy.com/media/ihvScUYUtjGmxEdDBK/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>2 players game built with Physics Engine.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

        <a href="https://shequ.codemao.cn/work/39501914">
            <figure class="figure brick show">
                <h1 class="title">AI Face Recognition</h1>
                <img src="https://media.giphy.com/media/LMQ737ZzfdQFt4SGwU/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Face recognition application built with AI Engine.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

        <a href="https://scratch.mit.edu/projects/340450699/">
            <figure class="figure brick show">
                <h1 class="title">Tank Strike</h1>
                <img src="https://media.giphy.com/media/Mb4tcw5ZQL5qXzUA01/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Strike rockets as many as possible to earn scores.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>



        <a href="https://shequ.codemao.cn/work/38147591">
            <figure class="figure brick show">
                <h1 class="title">No BB Fly</h1>
                <img src="https://media.giphy.com/media/TLUbkUiYFC1fZxQkvS/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Difficult cooperation game.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

        <a href="https://scratch.mit.edu/projects/340439620/">
            <figure class="figure brick show">
                <h1 class="title">Maze Escape</h1>
                <img src="https://media.giphy.com/media/idFSKgkE7ZFYcRyjtY/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
                <figcaption class="figure-caption">
                    <ul class="list text-left">
                        <br>
                        <li>Automatically generated random mazes.</li>
                    </ul>
                </figcaption>
            </figure>
        </a>

    </div>

</div>

{% endblock %}


