{% extends "layout.html" %}
{% block content %}
<div class="home">

    <div class="container pt-10">
        <h1 class="text-center">{ About Me }</h1>
        <br>
        <div class="me">
            <p class="text-center">Software Developer</p>
            <p class="text-center">Programming Curriculum Developer</p>
            <p class="text-center">Coding Instructor</p>
            <p class="text-center">M.Sc in Computer Science</p>
            <p class="text-center">Interest in Game Development</p>
            <p class="text-center">Previous research in Image Processing and Computer Graphics</p>
        </div>

    </div>
	  
</div>

{% endblock %}


