{% extends "layout.html" %}
{% block content %}
<div class="home">

    <div class="container pt-10">
        <h1>About Me</h1>

        <br>
        <p>I am a software developer focusing on Web Development, Game Development, Computer Graphics and Image Processing.
        </p>

        <p>Having been coding for many years since a child, I have strong background in programming. Last year, I obtained M.Sc in Computer Science with rich research in Ray Tracing, Volume Rendering and Pixel Processing.</p>

        <p>Who has same interests with me are welcome to contact with me so we can build awesome software together.</p>
    </div>
	  
</div>

{% endblock %}


