{% extends "layout.html" %}
{% block content %}
<div class="home">
	<style type="text/css">.relogio{
		width:600px;
		height:600px;
		margin-top:40px;
		margin-left:280px;
		margin-right:50px;
		margin-bottom:250px 
		auto 0 auto;}
	</style>

	<div class="relogio"></div>

	<div id="proverb">
	<br></br>
	<p>Everything happens to everybody sooner or later if there is time enough. </p> 
	<p>- George Bernard Shaw</p></div>&nbsp;

	<script type="text/javascript" src="{{ url_for('static', filename='js/clock.js') }}"></script>

{% endblock %}

