<!DOCTYPE html>
<html>
  <head>
      <title>Chao Zhang - Blog</title>
  </head>

  <link rel="stylesheet" href="{{url_for('static',filename='css/designer_chao.css')}}">

  <body>

  <header>
    <div class="container">
      <h1 class="logo"><a style="text-decoration:none;color:black;" 
        href="{{ url_for('home') }}">Chao's Blog</a></a></h1>     
      <strong><nav>
        <ul class="menu">
          <li id="li_home"><a style="text-decoration:none;" 
            href="{{ url_for('home') }}">Home</a></li>
            
          <li id="li_about"><a style="text-decoration:none;" 
            href="{{ url_for('about') }}">About</a></li>

          <li id="li_research"><a style="text-decoration:none;" 
            href="{{ url_for('research') }}">Research</a></li>

<!--           <li id="li_project"><a style="text-decoration:none;" 
            href="{{ url_for('project') }}">Project</a></li> -->


          <li id="li_gallery"><a style="text-decoration:none;" 
            href="{{ url_for('gallery') }}">Gallery</a></li>

          <!-- <li id="li_game"><a style="text-decoration:none;" 
            href="{{ url_for('game') }}">Relax</a></li> -->
        </ul>
      </nav></strong>
    </div>
  </header>

    <div class="container">
        {%block content%}
        {%endblock%}
    </div>

  </body>
</html>
