{% extends "layout.html" %}
{% block content %}

<h1 class="text-center">{ 少儿编程教育介绍 }</h1>

<h2> <strong>[ 人工智能时代 ]</strong> </h2>

<h2>< BBC预测：20年内60%的职业将被人工智能取代 ></h2>

<h3>BBC+剑桥大学系统地分析了各类职业数据和人工智能技术趋势，发布的预测榜单:</h3> <br>

<p>NO.1 会计 : 被取代概率  97.6%<br>
会计的本质是搜集信息和整理数据，机器人的准确性无疑更高。德勤、普华永道等会计事务所相继推出了财务智能机器人方案，内部大量会计工作已经被取代。</p>    

<p>NO.2 银行职员 : 被取代概率  96.8%<br>
传统的银行职员和柜员，大量的工作无非是标准的业务办理、数据整理、计算审核等，这些工作都是人工智能机器人所擅长的。
目前国内的银行大量的账户业务都已无人化。</p>

<p>NO.3 政府职员: 被取代概率 96.8%<br>
政府等职能部门中有大量的职员都是处理标准的行政业务，随着政务信息化的快速发展，结合智能化、无人化的机器人辅助，绝大多数的职能岗位都将被机器人所替代。</p>

<p>NO.4 HR人力资源: 被取代概率 89.7%<br>
HR的主要工作就是简历的审读筛选，此外包括薪酬管理、员工业绩等级考核等都可以被数字化智能化的，目前国内外都有人工智能HR的创业项目，已经能取代大量的HR岗位。</p>

<p>NO.5 房地产经纪: 被取代概率 86%<br>
美国一些房地产机构已经开始利用大数据和人工智能完成房产交易。房产经纪擅长利用信息不对称来获得利润，人工智能机器人则通过数字化的方式减少信息不对称，交易更加趋向于自助化。</p> 


<br><p>人工智能：神经网络</p>
<iframe width="1124" height="568" src="https://www.youtube.com/embed/zIkBYwdkuTk?start=40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr>

<h2> <strong>[ 少儿编程教育 ]</strong> </h2>

<h2>< 少儿编程教育前景 ></h2>

<h3>国内前景：</h3> 
<ul>
    <li>刚刚起步 3-5年</li>
    <li>渗透率高，但付费情况不佳 （国内家长侧重点更在于基础文化课）</li>
    <li>少儿编程培训企业尚处于天使轮到A轮之间</li>
    <li>学生课后时间稀缺，少儿编程没有培优需求，渗透率难以有效提升</li>
    <li>企业扎堆线上小班或1对1，师资与获客成本高，在线少儿编程企业长期面临盈利困境</li>
</ul>

<h3>北美前景：</h3> 
<ul>
    <li>美国少儿编程渗透率是中国的47倍</li>
    <li>学生压力小，以兴趣爱好为中心</li>
    <li>大量课后时间，少儿编程培优需求大，渗透率高，产业链丰富（可衔接c++，web等）</li>
</ul>

<h3>大温前景：</h3> 
<ul>
    <li>温哥华目前存在，但是都并未开发成熟</li>
    <li>强化教学，增加生源，提高口碑</li>
    <li>成熟后可扩建分校，最佳情况是成为少儿编程产业领头羊</li>
</ul>

<br><h2>< 少儿编程教育市场分析 ></h2>

<h3>国内市场分析：</h3> 
<ul>
    <li>教师工资：120-150 k / year （一线）</li>
    <li>获客成本：搜索引擎、公校合作、线下销售</li>
    <li>客单价：童程童美3567元，编玩边学5000元，傲梦一对一1.5万元</li>
</ul>

<h3>案例 - 童程童美：大举线下扩张：</h3> 
<p>2018上半年童程童美合计招生14465人，全国已有99家教学中心，400多名教师，营收5160万元，生均客单价3567元</p>
<img src="/static/img/presentation/1.png" width="500" height="400" alt="">
<p>个人观点：暂不推荐网络授课，大温地区硬软件条件都成熟的情况下可进行规模性线下课程扩张。</p>

<br><h2>< 美国编程教育框架 ></h2>
<img src="/static/img/presentation/3.png" width="800" height="380" alt="">

<br><br><h2>< 少儿编程教育产业链 ></h2>
<img src="/static/img/presentation/11.png" width="824" height="388" alt=""> 
<img src="/static/img/presentation/22.png" width="824" height="328" alt=""> 
<img src="/static/img/presentation/33.png" width="824" height="328" alt=""> 
<br> <br>
<img src="/static/img/presentation/44.png" width="824" height="268" alt="">

<hr> <h2> <strong>[ Demo ]</strong> </h2>

<a href="https://studio.code.org/s/coursed-2019/stage/2/puzzle/10">
    <figure class="figure brick show">
        <h2 class="title">Know Scratch</h2>
        <img src="/static/img/presentation/d1.png" width=240 height=240 class="rounded mx-auto d-block " alt="">
    </figure>
</a>

<a href="https://studio.code.org/s/mc/stage/1/puzzle/12">
    <figure class="figure brick show">
        <h2 class="title">Minecraft Scratch</h2>
        <img src="/static/img/presentation/d2.png" width=240 height=240 class="rounded mx-auto d-block " alt="">
    </figure>
</a>

<a href="https://scratch.mit.edu/projects/340450699/editor/">
    <figure class="figure brick show">
        <h2 class="title">Scratch</h2>
        <img src="/static/img/presentation/d4.png" width=240 height=240 class="rounded mx-auto d-block " alt="">
    </figure>
</a>

{% endblock %}