{% extends "layout.html" %}
{% block content %}
<div class="project">

	<script>document.querySelector(".logo").innerHTML=" Project "</script>

	<!-- <h1 class="text-center">{ Personal Projects }</h1>   -->

	<div class="text-center">

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure brick show">
				<h1 class="title">Computer Graphics</h1>
				<img src="/static/img/cg.gif" width=400 height=220 class="rounded mx-auto d-block " alt=”animated”>
				<figcaption class="figure-caption">
						<ul class="list text-left">
							<br>
							<li>Developed an application to display images from CT data.</li>
							<li>Wrote ray tracing & volume rendering source code.</li>
							<li>Research in granular model rendering.</li>
						</ul>
				</figcaption>
			</figure>
		</a>	  
		
		<a href="https://github.com/zzzchaozzz/GIS-NavigationToolboxDevelopment">
			<figure class="figure brick show">
				<h1 class="title">Geographic Inofrmation System</h1>
				<img src="/static/img/gisnew.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
							<br>
							<li>Created a city of Vancouver model by ArcGIS Desktop.</li>
							<li>Developed a navigation toolbox to provide the shortest <br> route navigation based on Dijkstra's algorithm.</li>
						</ul>
				</figcaption>
			</figure>
		</a>

		<a href="http://chi-noodlebar.com/">
			<figure class="figure brick show">
				<h1 class="title">Website Development</h1>
				<img src="https://media.giphy.com/media/QYjvkJMSSkvPIq66mK/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">	
							<br>
							<li>Built the marketing website for the restaurant.</li>
							<li>Cloud depolyment & maintenance.</li>
						</ul>
				</figcaption>
			</figure>
		</a>

		<a href="http://funupacademy.com/">
			<figure class="figure brick show">
				<h1 class="title">Website Development</h1>
				<img src="https://media.giphy.com/media/fqbFpBffILQQGTrflh/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">	
							<br>
							<li>Built the marketing website for the education company.</li>
							<li>AWS static website.</li>
						</ul>
				</figcaption>
			</figure>
		</a>


		<a href="http://www.ymea.ca/">
			<figure class="figure brick show">
				<h1 class="title">Website Development</h1>
				<img src="https://media.giphy.com/media/RKFurWjubc6ZEYFw5v/giphy.gif" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">	
							<br>
							<li>Built the website for a non-profit organization.</li>
							<li>Manage the membership database by MongoDB.</li>
						</ul>
				</figcaption>
			</figure>
		</a>
		
		<a href="http://robofriend.s3-website-us-west-2.amazonaws.com">
			<figure class="figure brick show">
				<h1 class="title">Web App - RobotFriend</h1>
				<img src="https://media.giphy.com/media/ZB80SlGjV4w2OWm8fA/giphy.gif" width=400 height=220 class="rounded mx-auto d-block" alt=”animated”>
				<figcaption class="figure-caption">
						<ul class="list text-left">
							<br>
							<li>React Web Applicaiton.</li>
							<li>Search robot friends through cards.</li>		
						</ul>
				</figcaption>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/ImageProcessing">
			<figure class="figure brick show">
				<h1 class="title">Image Processsing</h1>
				<img src="/static/img/imgp.png" width="400" height="220" class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
							<br>
							<li>Wrote source code for histogram equalization, pseudo color, <br> contour detection and functional filters.</li>
						</ul>
				</figcaption>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/Steganography">
			<figure class="figure brick show">
				<h1 class="title">Cryptography and Data Security</h1>
				<img src="/static/img/sss.png" width="400" height="220" class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
					<ul class="list text-left">
						<br>
						<li>Developed a steganography algorithm.</li>
						<li>Wrote RC4 source code.</li>
					</ul>	
				</figcaption>
			</figure>
		</a>

	</div>

</div>

{% endblock %}


