{% extends "layout.html" %}
{% block content %}
<div class="teaching">

	<hr> <h1 class="text-center">{ Programming }</h1>  

	<div class="text-center">

		<a href="">
			<figure class="figure brick show">
				<h1 class="title">Introduction to Programming in Python</h1>
				<img src="/static/img/courses/python1.png" width=400 height=220 class="rounded mx-auto d-block " alt=”animated”>
				<figcaption class="figure-caption">
						<ul class="list text-left">
                                <br>
                                <li>Learn fundamental programming skills.</li>
                                <li>Duration: 10 courses.</li>
                                <li>Requirement: None.</li>	
                            </ul>
				</figcaption>
			</figure>
		</a>	  

		<a href="">
			<figure class="figure brick show">
				<h1 class="title">Advanced Programming in Python</h1>
				<img src="/static/img/courses/python2.png" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
                                <br>
                                <li>Learn advanced programming skills.</li>
                                <li>Duration: 10 courses.</li>
                                <li>Requirement: Basic programming skills.</li>	
                            </ul>
				</figcaption>
			</figure>
		</a>

		<a href="">
			<figure class="figure brick show">
				<h1 class="title">Scratch Game Programming for Beginners</h1>
				<img src="/static/img/courses/scratch1.jpg" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
                            <br>
                            <li>Learn basic scratch programming.</li>
                            <li>Duration: 10 courses.</li>
                            <li>Requirement: None.</li>	
                        </ul>
				</figcaption>
			</figure>
		</a>

        <a href="">
			<figure class="figure brick show">
				<h1 class="title">Advanced Scratch Game Programming</h1>
				<img src="/static/img/courses/scratch2.jpg" width=400 height=220 class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
                            <br>
                            <li>Build 5 pure game projects.</li>
                            <li>Duration: 10 courses.</li>
                            <li>Requirement: Basic knowledage of scratch.</li>	
                        </ul>
				</figcaption>
			</figure>
		</a>
 
		<a href="{{ url_for('courseWeb') }}">
            <figure class="figure brick show">
                <h1 class="title">Introduction to Web Development</h1>
                <img src="/static/img/courses/web.jpg" width=400 height=220 class="rounded mx-auto d-block" alt=”animated”>
                <figcaption class="figure-caption">
                        <ul class="list text-left">
                            <br>
                            <li>Learn how to build a website.</li>
                            <li>Duration: 10 courses.</li>
                            <li>Requirement: None.</li>	
                        </ul>
                </figcaption>
            </figure>
        </a>        

		<a href="">
			<figure class="figure brick show">
				<h1 class="title">Introduction to Computer Science</h1>
				<img src="/static/img/courses/cs.jpg" width="400" height="220" class="rounded mx-auto d-block " alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
                                <br>
                                <li>Learn advanced topcis in computer science.</li>
                                <li>Duration: 10 courses.</li>
                                <li>Requirement: Basic knowledage of programming.</li>	
                            </ul>
				</figcaption>
			</figure>
        </a>
        
<!------------------------------------------------------------------------------------------------------>
		<hr>
		<h1 style="text-align: center">{ Math & Science }</h1>

		<a href="">
			<figure class="figure brick show">
				<h1 class="title">Canadian Computing Competition</h1>
				<img src="/static/img/courses/ccc.jpeg" width="400" height="220" class="rounded mx-auto d-block" alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
                            <br>
                            <li>Prepare for canadian computing competition</li>
                            <li>Duration: 10 courses.</li>
                            <li>Requirement: Interset in programming.</li>	
                        </ul>
				</figcaption>
			</figure>
        </a>
        
        <a href="">
			<figure class="figure brick show">
				<h1 class="title">Science Experiments</h1>
				<img src="/static/img/courses/experiments.png" width="400" height="220" class="rounded mx-auto d-block" alt="">
				<figcaption class="figure-caption">
						<ul class="list text-left">
                            <br>
                            <li>Let's do experiments together!</li>
                            <li>Duration: 10 courses.</li>
                            <li>Requirement: Interset in experiments.</li>	
                        </ul>
				</figcaption>
			</figure>
        </a>
        
    </div>

<!------------------------------------------------------------------------------------------------------>
	<footer>
		<hr>
		<p style="font-size: 1.0em; text-align:center;">©2019 Chao Zhang</p>
		<div style="text-align:center;color: black;" >
			<a href="https://github.com/zzzchaozzz"><i class="fa fa-github" style="font-size:26px; color: black;"></i></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href='mailto: raidenchao@gmail.com'><i class="fa fa-envelope" style="font-size:26px; color: black;"></i></a>		
		</div>	
	</footer>

</div>

{% endblock %}


